---
---

@import "{{ site.theme }}";

header {
  width:270px;
  background-color: #fff;
  float:top;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

section {
  width:100%;
  float:center;
  padding-bottom:50px;
  padding-top:100px;
}

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

footer {
  width:270px;
  float:bottom;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

td {
  text-align: left;
}

h4{
  text-align: center;
  font-size: 32px;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

.embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
